body {
    background: lightgrey;
    text-align: center;
}

#container {
    display: flex;
    border: 20px solid rgb(155, 28, 28);
    justify-content: center;
    border-width: 60px 120px;
    border-radius: 25px;
    background-color: white;
    margin: 0 auto;
}

#resizeBtn {
    margin-bottom: 16px;
    padding: 4px 16px;
    font-size: 16px;
}